*{
  margin: 0;
  padding: 0;
}
ul,li{
  list-style: none;
}
a{
  text-decoration: none;
  color: inherit;
}
header{
  background-color: rgb(42, 52, 63);
  height: 100%;
  width: 100%;
  color: aliceblue;
  box-sizing: border-box;
  padding: 10px 50px;
  margin-bottom: 50px;
}
header>.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gnb{
  display: flex;
}
.gnb>li:hover>.sub{
  display: block;
}
.gnb>li{
  position: relative;
}
.sub{
  display: flex;
  display: none;
  position: absolute;
}
.sub>li{
  display: flex;
}
.image-box>img{
  width: 100%;
  height: 100%;
}
.notice-mid>.container{
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
}
.right>button{
  border:0;
  background-color:rgb(42, 52, 63) ;
  padding: 15px 30px;
  font-size: 20px;
  font-weight: bold;
  color: aliceblue;
  border-radius: 10px;
}
.banner-bar{
  display: flex;
  justify-content: space-around;
}
.notice-bottom{
  width: 40%;
}
.notice-bottom nav{
  display: flex;
  justify-content: space-between;
}
.notice-bottom nav ul{
  display: flex;
}
.notice-bottom li{
  margin-right: 30px;
}
/* .slider {
  position: relative;
  overflow: hidden;
  
  width: 1200px;
  height: 840px;
  margin: 35px;
}
.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;

  animation: slider 7.5s infinite ease-in-out;
}
.slide:nth-child(1) {
  animation-delay: 0;
}
.slide:nth-child(2) {
  animation-delay: -2.5s;
}
.slide:nth-child(3) {
  animation-delay: -5s;
}
@keyframes slider {
  0% {
    transform: translateX(0);
  }

  26% {
    transform: translateX(0);
  }
  33% {
    transform: translateX(-100%);
    animation-timing-function: step-end;
  }
  93% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
} */